body {
  margin: 15px;
  padding: 0;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

.error{
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.navbar{
  margin: -15px -15px 10px -15px;

  &:hover{
    cursor: pointer;
  }
}

/**********************Blocks***********************/
@import "blocks/Lesson";
@import "blocks/Schedule";
@import "blocks/Item";
